.DS_Store
.vscode/
*.custom.yaml
*.userdb/
*.zip
**/.idea/
**userdb.txt
*private*
build/
custom/default.custom.yaml
installation.yaml
melt_eng_custom.dict.yaml
others/repo/*
others/script/scel2txt/out/*
others/script/scel2txt/scel/*
release/
rime_console
rime_deployer
rime_patch
user.yaml